QPushButton, QTextEdit {
    border-radius: 10px;
    background-color: #F2D300;
    color: black;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #d9bd00;
}

QPushButton:pressed {
    background-color: #0056b3;
}

QLineEdit {
    border-radius: 10px;
}

QPushButton[accessibleName="returnButton"] {
    icon: url("Images/arrow.png");
}

QPushButton[accessibleName="returnButton"]:hover {
    icon: url("Images/arrow_hovered.png");
}

QPushButton[accessibleName="returnButton"]:pressed {
    icon: url("Images/arrow_pressed.png");
}

QPushButton[accessibleName="myProfile"] {
    width:100px;
    height:50px;
}

QPushButton[accessibleName="returnButton"] {
    width: 100px;
    height: 50px;
}

.QWidget[accessibleName="leaderboardPadding"] {
    border: 1px;
    border-radius: 20px;
    background-color: #F2D300;
}

.QWidget[accessibleName="profilePadding"] {
    border: 1px;
    border-radius: 20px;
    background-color: #646464;
}