QMessageBox {
    background-color: #F2D300;
    font-size: 10px;
    color: black;
}

QPushButton, QTextEdit {
    font-family: 'Helvetica', sans-serif;
    border-radius: 10px;
    background-color: #F2D300;
    color: black;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #d9bd00;
}

QPushButton:pressed {
    background-color: #0056b3;
}

QLineEdit {
    border-radius: 10px;
}

QPushButton[accessibleName="returnButton"] {
    icon: url("arrow.png");
}

QPushButton[accessibleName="returnButton"]:hover {
    icon: url("arrow_hovered.png");
}

QPushButton[accessibleName="returnButton"]:pressed {
    icon: url("arrow_pressed.png");
}

QPushButton[accessibleName="myProfile"] {
    width:100px;
    height:50px;
}

QPushButton[accessibleName="returnButton"] {
    width: 100px;
    height: 50px;
}

.QWidget[accessibleName="mainPadding"] {
    border: 1px;
    border-radius: 20px;
    background-color: #F2D300;
}

.QWidget[accessibleName="profilePadding"] {
    border: 1px;
    border-radius: 20px;
    background-color: #d9bd00;
}

QLabel {
    font-family: 'Helvetica', sans-serif;
    font-size: 20pt;
}

QLabel[accessibleName="statusLabel"] {
    font-family: 'Helvetica', sans-serif;
    font-size: 20pt;
    color: white;
}

QLabel[accessibleName="title"] {
    font-family: 'Helvetica', sans-serif;
    font-size: 20pt;
    color: white;
}

QPushButton[accessibleName="difficultyButton"] {
    font-family: 'Helvetica', sans-serif;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #B2AB99;
    color: black;
    font-weight: normal;
}

QPushButton[accessibleName="startButton"] {
    font-family: 'Helvetica', sans-serif;
    font-size: 20pt;
    border: none;
    border-radius: 19px;
    width: 170px;
    height: 50px;
    background-color: #63BAAB;
    color: black;
    font-weight: bold;
}

.QTextEdit[accessibleName="matchHistory"] {
    border-radius: 10px;
    background-color: #d9bd00;
    color: black;
    font-weight: bold;
}

QPushButton[accessibleName="codeButton"] {
    text-align: center;
    color: black;
    font-size: 20px;
}